@font-face {
    font-family: "CalibriRegular";
    src: local("calibri-regular"),url("./fonts/calibri-regular.ttf") format("truetype");
}

@font-face {
    font-family: "CalibriItalique";
    src: local("calibri-italic"),url("./fonts/calibri-italic.ttf") format("truetype");
}

@font-face {
    font-family: "CalibriBold";
    src: local("calibri-bold"),url("./fonts/calibri-bold.ttf") format("truetype");
}

@font-face {
    font-family: "CalibriBoldItalic";
    src: local("calibri-bold-italic"),url("./fonts/calibri-bold-italic.ttf") format("truetype");
}

#root {
    font-family: "CalibriRegular";
}

#body {
    margin:0; 
    background:rgb(230, 230, 230);
}

.button-style{
    background-color: 'rgb(11, 96, 131)';
    color: 'white';
    border: 'none';
    border-radius: '5px';
    padding: '10px 20px';
    margin: '10px';
    cursor: 'pointer';
}