.calendar-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.calendar-title {
    text-align: center;
    color: #356084;
    margin-bottom: 20px;
    font-family: 'CalibriRegular';
}

.calendar-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.calendar-navigation button {
    background-color: #356084;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.calendar-navigation button:hover {
    background-color: #274a6e;
}

.calendar-grid {
    display: flex;
    justify-content: space-between;
}

.day-column {
    flex: 1;
    margin: 10px;
}

.day-column h3 {
    text-align: center;
    color: #003865;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.event {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-even {
    background-color: whitesmoke; /* AliceBlue */
}

.event-odd {
    background-color: rgb(186, 186, 186); /* LightSkyBlue */
}

.event:hover {
    background-color: #9dcbfc; /* Lighter blue for hover effect */
}

.event h4 {
    margin: 0;
    color: #003865;
    font-size: 1em;
}

.event p {
    margin: 5px 0 0;
    color: #666;
    font-size: 0.9em;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    flex: 1;
    font-size: 1.5em;
    color: #003865;
}

.tab-buttons {
    display: flex;
    gap: 10px;
}

.tab {
    background-color: #003865;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #002744;
}

.tab.active {
    background-color: #001f33;
}

.tab.super-jury {
    background-color: #FF6347; /* Tomato color */
}

.tab.super-jury:hover {
    background-color: #FF4500; /* Darker tomato color */
}

.tab.super-jury.active {
    background-color: #FF0000; /* Red color */
}


/* List View */
.list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'CalibriRegular';
}

.soutenance-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.soutenance-item {
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.soutenance-item:hover {
    transform: scale(1.02);
}

.soutenance-title {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #003865;
}

.soutenance-description {
    margin: 0 0 10px;
    color: #666;
}

.soutenance-timing {
    margin: 0;
    color: #999;
    font-size: 0.9em;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    background-color: #003865;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-item:hover {
    background-color: #002744;
}

.page-item.active {
    background-color: #001f33;
}

/* Inf Sup */

.infSup-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 1000px;
    margin: 20px auto;
    font-family: 'CalibriRegular';
}

.infSup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.infSup-title {
    font-size: 24px;
    color: #333;
}

.infSup-closeButton {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.infSup-closeButton:hover {
    background-color: #d32f2f;
}

.infSup-content {
    display: flex;
    font-family: 'CalibriRegular';
    font-size: 18px;
    color: #555;
}

.infSup-content p {
    margin: 10px 0;
}

.infSup-content h3 {
    margin-top: 20px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.info-jury {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    font-family: 'CalibriRegular', sans-serif;
}

.info-jury h1 {
    color: #003865;
    font-size: 28px;
    margin-bottom: 10px;
}

.info-jury h2 {
    color: #333;
    font-size: 20px;
    margin: 5px 0;
}

.info-jury .label {
    font-weight: bold;
    color: #0056b3;
}

.info-jury .value {
    color: #333;
}

.infSup-content-inf{
    margin-right: auto;
}

.jury-selector {
    margin-bottom: 20px;
    text-align: center;
}

.jury-selector label {
    margin-right: 10px;
}