.general-content{
    background: #E6E6E6;
    height:100%;
}


.user-welcome-title{
    margin:0; 
    text-align: center ; 
    font-size:48px; 
    font-family:'CalibriRegular'; 
    color:white;
}